# C und C++ ignorieren Objektdateien, Archive und temporäre Dateien
*.o
*.a
*.so
*.obj
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.out
*.map
*.sdf
*.opendb
*.ipch
*.tlog
*.pch
*.dSYM/
.vs/
Debug/
Release/
x64/
x86/
build/
*.log
*.vscode/

# Python ignorieren Bytecode und andere unnötige Dateien
*.py[cod]
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.egg-info/
.installed.cfg
*.egg

# LaTeX temporäre Dateien ignorieren
*.aux
*.log
*.synctex.gz
*.blg
*.bbl
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.pdfsync
*.synctex(busy)
*.synctex.gz(busy)
*.dvi

# ZIP-Dateien ignorieren
*.zip

# Allgemeine Ordner ignorieren
.DS_Store
Thumbs.db

.DS_Store
